# Node modules (dependencies)
node_modules/

# React Native packager
# (sometimes caches / temp files)
.buckconfig
.build/

# Metro Bundler cache
.metro-cache/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Android build output
android/app/build/
android/build/

# iOS build output
ios/build/
ios/Pods/
ios/DerivedData/
ios/*.xcworkspace
ios/*.xcodeproj/project.xcworkspace
ios/*.xcodeproj/xcuserdata/

# Xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/

# macOS system files
.DS_Store

# Environment variables
.env
.env.* 

# Buck build files
buck-out/
buck-cache/

# Android Studio files
*.iml
.gradle/
.idea/

# Temporary files and caches
tmp/
temp/

# Yarn integrity file
.yarn-integrity

# Coverage reports
coverage/

# Reanimated Plugin (if used)
react-native-reanimated/plugin

# Miscellaneous
.vscode/
